
.tile .tile-body {
  background: rgb(249, 249, 249);
}
.tile .tile-body.not-first {
  background: white;
  padding: 10px;
}
.modal .tile .tile-body.not-first {
  background: white;
  padding: 30px 10px;
}
.tile .tile-body.not-first p{
  font-family: 'Montserrat';
  font-size: 14px;
}

.tile .tile-body.padded {
  padding: 16px 10px;
}
.tile .tile-body.driver {
  background: rgb(249, 249, 249);
}
.tile {
  box-shadow: 0 5px 12px 3px rgba(0,0,0,0.03);
  border: 0;
}

.tile .tile-heading {
  position: relative;
}

.tag {
    line-height: 1.2;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 3px;
    padding: 5px 5px;
    background: rgb(65, 220, 65);
    color: white;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}