@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat|Prosto+One');

p, a, button, input {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prosto One', cursive;
}

p, ul, li, div, a {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p {
    font-size: 15.5px;
}
.toggle {
    display: block;
}
#request-body, #offers-body {
    background: rgb(250, 245, 245);
}

/****MY CSS GRID****/
* {
    box-sizing: border-box;
}
.dropdown {
    padding-top: 100px;
}
.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
@media only screen and (max-width: 350px) {
    .wrapper {
        width: 90%;
    }
}
/*FOR ALL COLUMNS***/

[class*="co-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="co-"] {
    width: 100%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .co-xs-1 {width: 8.33%;}
    .co-xs-2 {width: 16.66%;}
    .co-xs-3 {width: 25%;}
    .co-xs-4 {width: 33.33%;}
    .co-xs-5 {width: 41.66%;}
    .co-xs-6 {width: 50%;}
    .co-xs-7 {width: 58.33%;}
    .co-xs-8 {width: 66.66%;}
    .co-xs-9 {width: 75%;}
    .co-xs-10 {width: 83.33%;}
    .co-xs-11 {width: 91.66%;}
    .co-xs-12 {width: 100%;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .co-sm-1 {width: 8.33%;}
    .co-sm-2 {width: 16.66%;}
    .co-sm-3 {width: 25%;}
    .co-sm-4 {width: 33.33%;}
    .co-sm-5 {width: 41.66%;}
    .co-sm-6 {width: 50%;}
    .co-sm-7 {width: 58.33%;}
    .co-sm-8 {width: 66.66%;}
    .co-sm-9 {width: 75%;}
    .co-sm-10 {width: 83.33%;}
    .co-sm-11 {width: 91.66%;}
    .co-sm-12 {width: 100%;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .co-md-1 {width: 8.33%;}
    .co-md-2 {width: 16.66%;}
    .co-md-3 {width: 25%;}
    .co-md-4 {width: 33.33%;}
    .co-md-5 {width: 41.66%;}
    .co-md-6 {width: 50%;}
    .co-md-7 {width: 58.33%;}
    .co-md-8 {width: 66.66%;}
    .co-md-9 {width: 75%;}
    .co-md-10 {width: 83.33%;}
    .co-md-11 {width: 91.66%;}
    .co-md-12 {width: 100%;}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .co-lg-1 {width: 8.33%;}
    .co-lg-2 {width: 16.66%;}
    .co-lg-3 {width: 25%;}
    .co-lg-4 {width: 33.33%;}
    .co-lg-5 {width: 41.66%;}
    .co-lg-6 {width: 50%;}
    .co-lg-7 {width: 58.33%;}
    .co-lg-8 {width: 66.66%;}
    .co-lg-9 {width: 75%;}
    .co-lg-10 {width: 83.33%;}
    .co-lg-11 {width: 91.66%;}
    .co-lg-12 {width: 100%;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .co-xl-1 {width: 8.33%;}
    .co-xl-2 {width: 16.66%;}
    .co-xl-3 {width: 25%;}
    .co-xl-4 {width: 33.33%;}
    .co-xl-5 {width: 41.66%;}
    .co-xl-6 {width: 50%;}
    .co-xl-7 {width: 58.33%;}
    .co-xl-8 {width: 66.66%;}
    .co-xl-9 {width: 75%;}
    .co-xl-10 {width: 83.33%;}
    .co-xl-11 {width: 91.66%;}
    .co-xl-12 {width: 100%;}
}
.center-text {
    text-align: center;
}
.left-text {
    text-align: left;
}
.right-text {
    text-align: right;
}
.small {
    font-size: 14px;
}
.smaller {
    font-size: 13px;
}
.link.active {
    background: rgb(250, 245, 245);
    color: black;
}

.square {
    background: white;
    border: 1px solid rgb(231, 226, 226);
    padding: 20px 10px;
}

.tile {
    padding: 0;
    border: 1px solid rgb(231, 226, 226);
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.tile .tile-heading {
    padding: 10px;
    border-bottom: 1px solid rgb(231, 226, 226);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 130px;
    background: white;
}
.tile .tile-heading span.message {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.tile .tile-heading h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    color: black;
    margin: 40px 0;
}
.tile .tile-heading h4 span {
    color: dodgerblue;
}
.tile .tile-body {
    padding: 0;
    border-bottom: 1px solid rgb(231, 226, 226);
    color: rgba(0, 0, 0, 0.5);
}

.tile .tile-body [class*="co-"] {
    padding: 5px;
}
.tile .tile-body.not-first {
    padding: 15px 10px;
}
.tile .tile-footer {
    padding: 10px;
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.tile .tile-body .data-heading {
    font-weight: bold;
    color: black;
}
.badge {
    color: white;
    display: inline-block;
    background: dodgerblue;
    padding: 2px 7px;
    margin: 0px 4px 2px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.info {
    font-size: 14px;
}
.border {
    border-right: 1px solid rgb(231, 226, 226);
}
/****MODAL STYLINGS***/
.modal{
    position: fixed;
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    padding-top: 60px;
}
.modal .modal-content {
    width: 50%;
    margin: 5% auto 10% auto;
}
@media only screen and (max-width: 700px) {
    .modal .modal-content {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .modal .modal-content {
        width: 95%;
    }
}
.modal#detail-modal .tile{
    border: 0 !important;
    border-radius: 3px;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
}
.modal#detail-modal .tile .tile-heading {
    padding: 50px 10px;
}
.modal#detail-modal .tile .tile-heading h4 {
    margin: 0;
}
.modal#reject-ride-request-modal .tile {
    border-radius: 3px;
    border: 0;
}
.modal#reject-ride-request-modal .tile .tile-body{
    padding: 45px 10px 40px;
}
.modal#add-offer-modal .modal-content form {
    border-radius: 3px;
    background: white; 
}
.modal#add-offer-modal .modal-content form .row {
    padding: 13px 13px;
}
.modal#add-offer-modal .modal-content form .row [class*="co-"] {
    padding: 6px 5px;
    position: relative;
}
.modal#add-offer-modal .modal-content form .row [class*="co-"] input{
    width: 100%;
    background: rgb(250, 245, 245);
    border-radius: 3px;
    border: 1px solid transparent;
}
.modal#add-offer-modal form#create-offer-form [class*="co-"] p.small {
    font-weight: bold;
}
.success-message {
    color: rgb(116, 163, 22);
    font-size: 14px;
}
.error-message {
    color: rgb(255, 35, 6);
}





/*****NAVIGATION******/
nav {
    margin: 0;
    background: dodgerblue;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 54px;
    z-index: 2;
}
.submenu {
    background: white;
    border-bottom: 1px solid rgb(231, 226, 226);
    position: fixed;
    top: 53px;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.submenu a {
    text-decoration: none;
    font-size: 60%;
    cursor: pointer;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
}
.submenu a:hover {
    background: rgb(250, 245, 245);
}

/*****/
nav .navbar > p.navbar-toggle {
    display: inline-block;
    position: absolute;
    border-radius: 20px;
    right: 0;
    top: 14px;
    font-size: 60%;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul > li {
    display: inline-block;
}
nav ul > li a:hover {
    color: skyblue;
}
nav ul > li > a {
    text-decoration: none;
    color:white;
    display: inline-block;
    margin-top: 3px;
    padding: 13px 8px;
}

.nav-left {
    float: left;
    font-size: 100%;
    position: relative;
    padding-left: 40px;
}
.nav-right {
    float: right;
    font-size: 80%;
    text-transform: uppercase;
    margin-top: 3px;
}
.nav-right li#dropdown-nav {
    position: relative;
}
/* .nav-right li#dropdown-nav .droppy {
    display: none;
} */
.nav-right li#dropdown-nav div.dropdown-nav {
    display: block;
    width: 180px;
    position: absolute;
    right: 8px;
    top: 50px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 5px 12px 3px rgba(0,0,0,0.03);
}
.nav-right li#dropdown-nav div.dropdown-nav a {
    display: block;
    color: black;
    width: 100%;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
}
.nav-right li#dropdown-nav div.dropdown-nav a:hover {
    color: dodgerblue;
}
.nav-right li#dropdown-nav div.dropdown-nav a#first {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.nav-right li#dropdown-nav div.dropdown-nav a#logout {
    border-top: 1px solid rgb(231, 226, 226);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pointer {
    position: absolute;
    background: white;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    z-index: 2;
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.05);
}

.nav-left li img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0px;
    padding: 4px;
    background: white;
    border-radius: 50%;
}




@media only screen and (max-width: 700px) {
    nav .navbar .nav-right {
        padding: 3px 0;
        font-weight: bold;
        text-align: center;
        display: none;
        width: 200px;
        position: absolute;
        top: 48px;
        right: 0;
        z-index: 2;
        border-radius: 6px;
        background: white;
        box-shadow: 0 5px 12px 3px rgba(0,0,0,0.03);
    }
    nav .navbar .nav-right li {
        display: block;
        width: 100%;
    }

    nav .navbar .nav-right li a {
        color: black;
        font-size: 14px;
        padding: 9px 8px;
        width: 100%;
    }
    nav .navbar .nav-right li a:hover {
        color: dodgerblue;
    }
}
@media only screen and (min-width: 701px) {
    nav .navbar > p.navbar-toggle {
        display: none;
    }

}

/***PAGE CONTENT***/
.content {
    width: 100%;
    margin-top: 0;
    padding: 14% 0 10%;
}


p.welcome-message {
    margin-bottom: 30px;
}

@media(max-width: 780px) {
    .content {
        padding-top: 100px !important;
    }
}
@media(min-width: 780px) {
    p.welcome-message {
        padding: 0 20%;
    }
}
.button {
    padding: 8px 30px;
    border: 1px solid transparent; 
    cursor: pointer;
    font-size: 14px;
    border-radius: 25px;
    font-weight: bold;
}
button:active {
    outline: 0;
}
.button-white {
    color: dodgerblue;
    background: white;
    border-color: dodgerblue;
}
.button-white:hover {
    color: white;
    background: dodgerblue;
    border-color: transparent;
}
.button-blue {
    background: dodgerblue;
    color: white;
}
.button-blue:hover {
    background: transparent;
    border-color: dodgerblue;
    color: dodgerblue;
}
button:focus {
    outline: 0;
}

/*lOGIN PAGE AND REGISTER PAGE STYLES**/

form input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    line-height: 1.5;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid dodgerblue;
    border-radius: 3px;
}


.error-message {
    color: orangered;
    font-size: 13px;
    margin: 0;
}








/****MODAL ANIMATION***/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
